@using Microsoft.AspNetCore.Http;
@model Assignment2.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
<br /> <br />
<div class="container">
    <div class="page-header">
        <h2 align=center>Sign in your account</h2>
    </div>
    <br /> <br />
    <div class="row">
        <div class="col-sm-7" style="float: none; margin: 0 auto;">
            <div class="well">
                <p style="color: red;">@TempData["error"]</p>
                <form class="form-horizontal" asp-controller="Home" asp-action="CheckAccount" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="EmailAddress">
                            Email Address:
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="EmailAddress"
                                   placeholder="Enter email address" asp-for="EmailAddress"
                                   required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="Password">
                            Password:
                        </label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="Password" placeholder="Enter password" asp-for="Password" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />